.contenidoBanner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 100px 30px 30px 30px;
    margin-bottom: 30px;
    gap: 30px;
}

.textoBanner,
.contenidoImagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textoBanner{
    width: 60%;
}

.tituloBanner{
    text-align: center;
    border-radius: 10px;
    width: 190px;
    color: white;
    background-color: #6BD1FF;
    padding: 10px;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
}

.tituloChallenge{
    font-size: 28px;
    padding-bottom: 10px;
}

.textChallenge{
    color: #f5f5f5ab;
}

.contenidoImagen {
    background-color: white;
    display: flex;
    width: 40%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #2271D1;
}

.imagenBanner {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .contenidoBanner{
        display: none;
    }
}